@model WebApplication2.Models.payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.financialcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.financialcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
